:root {
  --font-family: "DM Sans", sans-serif, "Titan One", cursive;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  font-family: var(--font-family);

  max-width: 375px;
}

/* Header */

.header-container {
  margin: 0 auto;

  max-width: 375px;
  height: 502px;
  background: #c4788b;
}

.header-holder-container {
  margin: 0 auto;
  width: 100%;
  max-width: 375px;
  height: 100%;
  padding: 8px 20px;
  background: url("../src/images/bg-header-holder.webp");
  background-repeat: no-repeat;
  background-size: 346px 386px;
  background-position: top 83px left 36px;
}

.header-nav-holder {
  display: flex;
  flex-direction: column;
}

a.logo-ice-cream {
  width: 198px;
  height: 50px;
  align-self: flex-start;
}

.icon-burger-open-menu svg {
  padding: 0;
  width: 18px;
  height: 18px;
}

.icon-burger-open-menu {
  padding: 0;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  border: none;
  background: none;
  position: absolute;
  align-self: flex-end;
  margin-top: 17px;
  cursor: pointer;
}

.header-icecream-cone {
  width: 171px;
  height: 410px;
  flex-shrink: 0;
  position: absolute;
  top: 92px;
  margin-left: 110px;
}

.header-text-box {
  width: 218px;
  height: 106px;
  position: absolute;
  margin-top: 130px;
}

.header-white-text {
  color: #fff;
  font-family: Titan One;
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.04px;
}

.header-dark-text {
  color: #d41443;
  font-family: Titan one;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 96.5%;
  position: absolute;
  left: -2px;
  top: 58px;
}

.header-btn-box {
  width: auto;
  height: 24px;
  display: flex;
  gap: 8px;
  position: absolute;
  top: 320px;
}

.header-products-btn {
  width: 62px;
  height: 24px;
  color: #fff;
  text-align: center;
  font-family: DM Sans;
  font-size: 8px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border: none;
  border-radius: 12px;
  background-color: #d41443;
  cursor: pointer;
}

.header-him-btn {
  width: 83px;
  height: 24px;
  color: #d41443;
  text-align: center;
  font-family: DM Sans;
  font-size: 8px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border: none;
  border-radius: 12px;
  background-color: #fff;
  cursor: pointer;
}

/* Main */

main {
  margin: 0 auto;
  width: 100%;
  max-width: 375px;
  height: auto;
  background: #fff;
}

section.products {
  margin: 0;
  padding: 60px 20px;
}

.product-types-titles {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.product-types-s-title {
  margin: 0;
  color: #ffa5ba;
  text-align: center;
  font-family: Titan One;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.product-types-p-title {
  margin: 0;
  color: #d41443;
  text-align: center;
  font-family: Titan One;
  font-size: 34px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.36px;
}

.product-types-container-section {
  width: 100%;
  height: auto;
  display: flex;
  flex-flow: row wrap;
  gap: 1px;
}

.product-item {
  width: 100%;
  height: 645px;
  display: flex;
  justify-content: center;
}

.product-img {
  width: 280px;
  height: 280px;
  flex-shrink: 0;
  position: absolute;
  z-index: 2;
}

.ice-cream-product-description {
  width: 280px;
  height: 489px;
  border-radius: 24px;
  background: #ffb8ca;
  z-index: 1;
  margin-top: 155px;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  gap: 32px;
  padding-top: 140px;
}

.product-title {
  margin: 0;
  width: auto;
  height: 23px;
  flex-shrink: 0;
  color: #fff;
  text-align: center;
  font-family: Titan One;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.8px;
}

.product-text {
  margin: 0;
  width: 216px;
  height: 124px;
  flex-shrink: 0;
  color: #fff;
  text-align: center;
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 152%; /* 21.28px */
  letter-spacing: 0.56px;
}

.product-btn {
  width: 40px;
  height: 40px;
  padding: 0;
  border: none;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.product-btn svg {
  margin: 0;
  width: 15px;
  height: 15px;
  align-items: center;
}

.ice-coffee-product-description {
  width: 280px;
  height: 489px;
  border-radius: 24px;
  background: #f0d1a5;
  z-index: 1;
  margin-top: 155px;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  gap: 32px;
  padding-top: 140px;
}

.milkshake-product-description {
  width: 280px;
  height: 489px;
  border-radius: 24px;
  background: #c2e297;
  z-index: 1;
  margin-top: 155px;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  gap: 32px;
  padding-top: 140px;
}

section.him {
  margin: 0;
  padding: 60px 20px;
  background: #fff5f6;
  height: 1564px;
  max-width: 375px;
}

.him-titles {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.him-s-title {
  margin: 0;
  color: #ffa5ba;
  text-align: center;
  font-family: Titan One;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.him-p-title {
  margin: 0;
  color: #d41443;
  text-align: center;
  font-family: Titan One;
  font-size: 34px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.36px;
}

.him-img-1 {
  width: 280px;
  height: 279px;
  flex-shrink: 0;
  margin-top: 32px;
  margin-bottom: 40px;
}

.him-img-2 {
  width: 280px;
  height: 133px;
  flex-shrink: 0;
  position: relative;
  z-index: 1;
  margin-top: 76px;
}

.him-text-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 18px;
  align-items: flex-start;
}

.him-dark-text {
  margin: 0;
  width: 220px;
  height: 111px;
  flex-shrink: 0;
  color: #000;
  font-family: DM Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 162%;
  letter-spacing: 0.48px;
  position: absolute;
  z-index: 2;
}

.him-light-text {
  margin: 0;
  width: 220px;
  height: 171px;
  flex-shrink: 0;
  color: #907e82;
  font-family: DM Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 162%;
  letter-spacing: 0.48px;
  position: absolute;
  margin-top: 130px;
  z-index: 2;
}

.him-read-more-btn {
  width: 176px;
  height: 44px;
  background: #fff;
  color: #d41443;
  text-align: center;
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border: none;
  border-radius: 22px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  margin-top: 116px;
  cursor: pointer;
}

.read-more-icon {
  width: 7px;
  height: 14px;
  margin-left: 8px;
  margin-top: 2px;
}

.info-groups-list {
  width: 100%;
  height: auto;
  gap: 32px;
  margin-top: 200px;
}

.info-group {
  margin-top: 16px;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}

.info-group-icon-721 {
  width: 33px;
  height: 50px;
  flex-shrink: 0;
}

.info-group-icon-kg {
  width: 50px;
  height: 50px;
  flex-shrink: 0;
}

.info-group-icon-84 {
  width: 44px;
  height: 50px;
  flex-shrink: 0;
}

.info-group-title {
  margin: 0;
  color: #d41443;
  font-family: Titan One;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.44px;
}

.info-group-text {
  margin: 0;
  color: #000;
  font-family: DM Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 170%; /* 20.4px */
  letter-spacing: 0.24px;
}

.home-images {
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 375px;
  height: 140px;
  position: absolute;
  top: 4158px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-1 {
  width: 43.593px;
  height: 43.861px;
  flex-shrink: 0;
  position: absolute;
  margin-right: 272px;
}

.image-2 {
  width: 43.593px;
  height: 43.861px;
  position: absolute;
  flex-shrink: 0;
  margin-right: 183px;
  margin-bottom: 37px;
}

.image-3 {
  width: 43.593px;
  height: 43.861px;
  flex-shrink: 0;
  position: absolute;
  margin-right: 183px;
  margin-top: 53px;
}

.image-4 {
  width: 89.398px;
  height: 89.615px;
  flex-shrink: 0;
  position: absolute;
  margin-right: 46px;
  margin-bottom: 40px;
}

.image-5 {
  width: 43.593px;
  height: 43.861px;
  flex-shrink: 0;
  position: absolute;
  margin-right: 92px;
  margin-top: 97px;
}

.image-6 {
  width: 43.593px;
  height: 43.861px;
  flex-shrink: 0;
  position: absolute;
  margin-bottom: 37px;
  margin-left: 90px;
}

.image-7 {
  width: 43.593px;
  height: 43.861px;
  flex-shrink: 0;
  position: absolute;
  margin-top: 53px;
  margin-left: 89px;
}

.image-8 {
  width: 43.593px;
  height: 43.861px;
  flex-shrink: 0;
  position: absolute;
  margin-left: 180px;
  margin-bottom: 63px;
}

.image-9 {
  width: 43.593px;
  height: 43.861px;
  flex-shrink: 0;
  position: absolute;
  margin-left: 180px;
  margin-top: 28px;
}

.image-10 {
  width: 43.593px;
  height: 43.861px;
  flex-shrink: 0;
  position: absolute;
  margin-left: 271px;
}

section.testimonials-section-container {
  margin: 0;
  padding: 0px 20px;
  width: 100%;
  height: 875px;
  background-color: #fff;
}

.testimonial-1 {
  width: auto;
  height: 515px;
  margin-top: 160px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

img.profile-picture-Emily {
  width: 85px;
  height: 85px;
  flex-shrink: 0;
  border-radius: 50%;
}

.testimonial-text-box-1 {
  width: 280px;
  height: 307px;
  flex-shrink: 0;
  background-color: #fafafa;
  margin-top: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}

svg.testimonial-bg-icon {
  width: 54px;
  height: 40px;
  position: absolute;
  margin-right: 120px;
  margin-top: -205px;
}

.testimonial-bg-icon use {
  width: 54px;
  height: 40px;
}

.testimonial-text-1 {
  margin: 0;
  width: 158px;
  height: 213px;
  flex-shrink: 0;
  color: #000;
  text-align: center;
  font-family: DM Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 260%; /* 31.2px */
  letter-spacing: 0.48px;
  position: absolute;
}

.dots-box-1 {
  width: 32px;
  height: 4px;
  flex-shrink: 0;
  margin-top: 16px;
  fill: #c7133e;
}

.testimonial-user-name {
  width: 172px;
  height: 25px;
  flex-shrink: 0;
  color: #000;
  text-align: center;
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 186%;
  margin: 16px 0px; /* 26.04px */
}

.dots-box-2 {
  width: 72px;
  height: 12px;
  flex-shrink: 0;
  fill: #d9d9d9;
}

.addresses-section-container {
  width: 100%;
  height: 1129px;
  padding: 4px 20px;
  background-color: #fff5f6;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.address-box {
  width: 280px;
  height: 412px;
  flex-shrink: 0;
  border-radius: 24px;
  background: #fff;
  box-shadow: 0px 8px 30px 0px rgba(212, 20, 67, 0.1);
  padding: 40px 32px;
  display: flex;
  flex-direction: column;
}

.cafe-address-1 {
  position: absolute;
  top: 4935px;
}

h3.address-title {
  margin: 0;
  flex-shrink: 0;
  color: #fff;
  text-align: center;
  font-family: DM Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 186%; /* 22.32px */
  letter-spacing: 0.48px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 4px;
}

.cafe-title {
  width: 80px;
  height: 16px;
  background-color: #f0d1a5;
}

h4.adress-city {
  color: #000;
  font-family: DM Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 186%; /* 22.32px */
  letter-spacing: 0.48px;
  margin-top: 20px;
  margin-bottom: 8px;
}

.adress-products {
  color: #907e82;
  font-family: DM Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px; /* 150% */
  letter-spacing: 0.48px;
  margin-top: 0;
  margin-bottom: 48px;
}

span.days {
  color: #000;
  font-family: DM Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 186%; /* 22.32px */
}

span.hours {
  color: #ffa5ba;
  font-family: DM Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 186%; /* 22.32px */
}

a.contact {
  margin-top: 48px;
}

a.contact,
a.email {
  color: #907e82;
  font-family: DM Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px; /* 150% */
}

.foodtruck-address {
  margin-top: 131px;
}

.foodtruck-title {
  width: 130px;
  height: 16px;
  background-color: #c2e297;
}

.cafe-address-2 {
  margin-top: 20px;
}

.our-locations-btn {
  width: 162px;
  height: 44px;
  flex-shrink: 0;
  border: none;
  border-radius: 22px;
  background: #d41342;
  color: #fff;
  text-align: center;
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 32px;
  cursor: pointer;
}

.icon-our-locations-btn {
  margin-top: 2px;
  margin-left: 10px;
  padding: 0;
  width: 8px;
  height: 16px;
  stroke: #fff;
}

.icon-our-locations-btn use {
  margin: 0;
  width: 8px;
  height: 16px;
}

.franchise-btn {
  width: 161px;
  height: 44px;
  flex-shrink: 0;
  border: none;
  border-radius: 22px;
  background: #fff;
  color: #d41443;
  text-align: center;
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  cursor: pointer;
}

.icon-franchise-btn {
  width: 8px;
  height: 12px;
  margin-top: 2px;
  margin-left: 8px;
}

.icon-franchise-btn use {
  width: 8px;
  height: 12px;
}

.footer-container {
  width: 100%;
  height: 385px;
  padding: 20px 20px 4px 20px;
  background-color: #fff5f6;
  display: flex;
  flex-direction: column;
}

.footer-s-title {
  margin: 0;
  width: 232px;
  height: 42px;
  flex-shrink: 0;
  color: #ffa5ba;
  font-family: Titan One;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.footer-p-title {
  margin-top: 16px;
  margin-bottom: 40px;
  width: 200px;
  height: 76px;
  flex-shrink: 0;
  color: #d41443;
  font-family: Titan One;
  font-size: 34px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.36px;
  text-transform: uppercase;
}

.social-icons {
  display: flex;
  gap: 28px;
  justify-content: flex-end;
}

.footer-icon {
  width: 32px;
  height: 32px;
  fill: #fea5bb;
}

.footer-contact-text {
  color: #000;
  text-align: right;
  font-family: DM Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 186%; /* 22.32px */
  position: absolute;
  margin-top: 72px;
  margin-left: -81px;
}

.footer-contact-number {
  color: #d41443;
}

.copyright-box {
  width: 335px;
  height: 42px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 110px;
  align-self: center;
}

.copyright-text {
  margin: 0;
  color: #907e82;
  text-align: center;
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 152%; /* 21.28px */
}
